<configuration><configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="Priceredacted.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=4.0.3.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Priceredacted.Properties.Settings>
            <setting name="FrgrColor" serializeAs="String">
                <value>SlateGray</value>
            </setting>
            <setting name="BkgrColor" serializeAs="String">
                <value>LightSlateGray</value>
            </setting>
        </Priceredacted.Properties.Settings>
    </userSettings>
	<appSettings>
		<add key="UserDataPath" value="\DB\UserData.json"/>
		<add key="ReceiptsPath" value="\DB\Receipts.json"/>
		<add key="ProductsPath" value="\DB\Products.json"/>
		<add key="ItemsInReceiptPath" value="\\DB\\ItemsInReceipt.json"/>
	</appSettings>
               </configuration>