<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="UserDataPath" value="\DB\UserData.json"/>
		<add key="ReceiptsPath" value="\DB\Receipts.json"/>
		<add key="ProductsPath" value="\DB\Products.json"/>
		<add key="ItemsInReceiptPath" value="\\DB\\ItemsInReceipt.json"/>
	</appSettings>
</configuration>